@tailwind base;
@tailwind components;
@tailwind utilities;

    body {
      background-color: #14161a;
      color: white;
    }
  
    .drawer {
      width: 450px;
      background-color: #515151;
      color: white;
    }
  
    .liner {
      background-color: rgb(98, 110, 123);
      border: none;
    }

        button[data-testid="carousel-right-control"] {
          display: none;
        }
    
        button[data-testid="carousel-left-control"] {
          display: none;
        }
    
        button[data-testid="carousel-indicator"] {
          display: none;
        }

.bgImage {
  background-image: url(../public/neuroset.jpeg);
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #707d95;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}